SECRET_KEY_BASE=<%= SecureRandom.hex(64) %>

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=

BUGSNAG_API_KEY=bugsnag-api-key

FLIPPER_USERNAME=flipper
FLIPPER_PASSWORD=flipper_password

SIDEKIQ_USERNAME=sidekiq
SIDEKIQ_PASSWORD=password

REDIS_URL=redis://localhost:6379
